apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hyperdx
spec:
  tls:
    - hosts:
        - "{{ ingress_hostname }}"
      secretName: "{{ ingress_hostname }}"
  rules:
    - host: "{{ ingress_hostname }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: hyperdx
                port:
                  number: 8098