apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  labels:
    app.kubernetes.io/name: {{ service_name }}
    PrometheusMetrics: enabled
spec:
  selector:
    app.kubernetes.io/name: {{ service_name }}
  ports:
{% for port in edox_services[service_name]['ports'] %}
    - name: {{ port.name }}
      protocol: TCP
      port: {{ port.external }}
      targetPort: {{ port.internal }}
{% endfor %}
