apiVersion: v1
kind: Secret
metadata:
  name: {{ edox_services[service_name].certificates.secret_name }}
type: Opaque
data:
  # Смотри defaults → certificates
{% for item in edox_services[service_name].certificates.files | dict2items %}
  {{ item.key }}: "{{ lookup('file', 'files/' ~ item.value.src) | b64encode }}"
{% endfor %}
