apiVersion: v1
kind: Secret
metadata:
  name: consul-http-token
type: Opaque
stringData:
  CONSUL_HTTP_TOKEN: "{{ edox_services[service_name].consul_token | default(vault_secrets.consul_token_edou02) }}"
