apiVersion: v1
kind: Secret
metadata:
  name: mongo-keyfile
type: Opaque
data:
  # Общий ключ для аутентификации членов replica set (обязательно при --auth + replSet)
  keyfile: "{{ vault_secrets.mongo_db_keyfile }}"