apiVersion: v1
kind: Secret
metadata:
  name: mongo-root-credentials
type: Opaque
stringData:
  # Root-пользователь MongoDB: нужен для первичной инициализации и rs.initiate
  username: "{{ vault_secrets.mongo_db_username }}"
  # Пароль root-пользователя MongoDB
  password: "{{ vault_secrets.mongo_db_password }}"