apiVersion: v1
kind: Secret
metadata:
  name: mongo-backup-minio-credentials
type: Opaque
stringData:
  MINIO_ENDPOINT: "https://edox-minio-api.firm.ru"
  MINIO_ACCESS_KEY: "{{ vault_secrets.mongo_db_minio_access_key }}"
  MINIO_SECRET_KEY: "{{ vault_secrets.mongo_db_minio_secret_key }}"
  MINIO_BUCKET: "hyperdx/mongo-backups"